#container {
    overflow: hidden;
    height: 100%;
}

#content {
    position: relative;

    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    -webkit-user-select: none;
    column-gap: 10px;
}